[submodule "bundle/vim-pathogen"]
	path = pack/bundle/start/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-fugitive"]
	path = pack/bundle/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/tlib_vim"]
	path = pack/bundle/start/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = pack/bundle/start/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-snipmate"]
	path = pack/bundle/start/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/vim-snippets"]
	path = pack/bundle/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/tabular"]
	path = pack/bundle/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/vim-puppet"]
	path = pack/bundle/start/vim-puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule "bundle/vim-vagrant"]
	path = pack/bundle/start/vim-vagrant
	url = https://github.com/hashivim/vim-vagrant.git
[submodule "bundle/vim-terraform"]
	path = pack/bundle/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "bundle/epp-syntax-vim"]
	path = pack/bundle/start/epp-syntax-vim
	url = https://github.com/farkasmate/epp-syntax-vim.git
[submodule "bundle/ale"]
	path = pack/bundle/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "bundle/vim-commentary"]
	path = pack/bundle/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
